body{

}

header{
    background-color: grey;

}

header ul li{
  display: inline-block;
  background-color: grey;
}

.articlesList .article{
  border: 1px solid black;
  width: 600px;
  margin: 10px;
}

.sideMenu{
  width: 25%;
  height: 400px;
  display: inline-block;
}
